.top-header{
    background-color: black;
    padding: 5px 10px;
}
.top-header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header-flex i{
    color: #40DDB6;
    margin-right: 10px;
}
.top-header-flex span, .top-header-flex a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
.banner-sec{
    position: relative;
}

.banner-content{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a8;  
    color: white; 

}
.banner-content-middle{
    width: 50%;
    margin: auto;
    margin-top: 30%;
}
.banner-content-middle span{
    color: #40DDB6;
}
.banner-content-middle button{
    margin-right: 25px;
}
.banner-content-middle i{
    font-size: 30px;
    color: #6B77E5;
}
.img-sec-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expertise-content{
 
    background-color: #F4F4F4;
}
.expertise-content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expertise-content i{
    background-color: #40DDB6;
    border-radius: 50% !important;
}
.expertise-content p{
    color:#6B77E5;
}
.sec-5-con{
    padding-left: 42%;
    padding-top: 30%;
    padding-right: 25px;
    height: 100%;
}
.sec-5 .row, .sec-5 .col-md-6{
    padding: 0;
}